@import './theme.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--hango-bg);
  background-attachment: fixed;
}

main {
  min-height: 100%;
  background: transparent;
}
